<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="net.wifey.wifeymooc" android:versionName="2.0.2" android:versionCode="1">

    <application
        android:label="WifeyMOOC"
        android:name="org.qtproject.qt.android.bindings.QtApplication"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/icon">

        <activity android:name="org.qtproject.qt.android.bindings.QtActivity" android:label="WifeyMOOC" android:screenOrientation="unspecified" android:launchMode="singleTop" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.lib_name" android:value="WifeyMOOC"/>
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="34" />

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="29" />

</manifest>